# --- Datos y Respaldos (Específico según el proyecto) ---
D:/2026/
*.csv
*.xlsx
RESPALDO_AUTOMATICO_LIMPIEZA.csv
especies_curadas_*.csv
consolidado_XX_especies.csv

# --- Historial y Configuración de R ---
.Rhistory
.RData
.Ruserdata
.Renviron
.Rproj.user/

# --- Archivos Temporales y del Sistema ---
.Rapp.history
*.html
*.htm
.DS_Store
Thumbs.db
